.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-family: "Bree serif";
}
.button1 {
  background-color: #eab308;
  color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  font-family: "Roboto";
  border-width: 0px;
}
.button2 {
  background-color: #ffffff;
  color: #323f4b;
  font-family: "Roboto";
  border-radius: 10px;
  margin: 10px;
  border-width: 0px;
}
.button3 {
  background-color: #1d4ed8;
  color: #ffffff;
  font-family: "Roboto";
  border-radius: 10px;
  margin: 10px;
  border-width: 0px;
}
